includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src
        - tests

    # The level 8 is the highest level
    level: 6

    checkMissingIterableValueType: false

    excludePaths:
            - **/*/Migrations/*
            - **/*/migrations/*
